#nav-item-last{

padding-left: 5px;

}

#seconfItem {

color: greenyellow;

}

.caro-first{

width: 100%;

height: 40%;

}

/* Three image containers (use 25% for four, and 50% for two, etc) */

.column {

float: left;

width: 10%;

padding: 5px;

}

 

/* Clear floats after image containers */

.row::after {

content: "";

clear: both;

display: table;

}


/*  */
@media screen and (min-width: 320px) and (max-width: 320px)  {

#courses2 {

 

display: flex;

flex-direction: column;


}

}

